menu "Topic"
    config VOLTAGE_P_TRANSFER
        string "voltage_topic_1"
        default "client/voltage_p"

    config VOLTAGE_N_TRANSFER
        string "voltage_topic_2"
        default "client/voltage_n"

    config CURRENT_TRANSFER
        string "current_topic"
        default "client/current"
        
    config PHASE_TRANSFER
        string "phase_topic_1"
        default "client/phase"
    
endmenu